# Dir navigation
alias ..='cd ..'
alias ...='cd ../..'
alias ....='cd ../../..'
alias ~='cd ~'
alias ll='tree --dirsfirst -ChFupDaL 1'

# Utilities
alias a="ack -ia"
alias b="bundle exec"
alias c="pygmentize -O style=monokai -f console256 -g"
alias d="du -h -d=1"
alias df="df -h"
alias g="git"
alias grep='GREP_COLOR="1;37;45" LANG=C grep --color=auto'
alias h="history"
alias httpdump="sudo tcpdump -i en1 -n -s 0 -w - | grep -a -o -E \"Host\: .*|GET \/.*\""
alias ip="curl -s http://checkip.dyndns.com/ | sed 's/[^0-9\.]//g'"
alias localip="ipconfig getifaddr en1"
alias mp="mvim -p"
alias rkt="racket -il xrepl"
alias tmux="tmux -2"
alias view="vim -p -R"
alias vp="vim -p"

# J = Z
alias j="z"

# t
alias todo="subl ~/Dropbox/todo.txt"
alias t="todo.sh"
alias ts='t | grep -v LongTerm'
# Enable alias completion
complete -F _todo t

# Git Repos
function gg() {
  if [ $# -gt 0 ]; then
    for i in $(echo $*); do
      if [ -d ${i}/.git ]; then
        ( echo -e '\e[01;34m*** Pulling' ${i} '***\e[00m' && cd ${i} && git pull | grep -v "Already up-to-date." )
        ( cd ${i} && git status -s )
      fi
    done
  else
    echo "usage: gg <git repo dir>"
  fi
}

function gs() {
  if [ $# -gt 0 ]; then
    for i in $(echo $*); do
      if [ -d ${i}/.git ]; then
        ( echo -e '\e[01;34m***Status' ${i} '***\e[00m' && cd ${i}; git cherry -v origin/master | wc -l | grep -v ' 0'; git status -s )
      fi
    done
  else
    echo "usage: gst <git repo dir>"
  fi
}

function gz() {
  if [ $# -gt 0 ]; then
    for i in $(echo $*); do
      if [ -d ${i} ]; then
        ( echo "*** Tarring into ~/sandbox/backups/${i}.$(date "+%Y-%m-%d-%H-%M-%S").tgz ***" && tar zcf ~/sandbox/backups/${i}.$(date "+%Y-%m-%d-%H-%M-%S").tgz ${i} )
      fi
    done
  else
    echo "usage: gz <dir name>"
  fi
}

### http://chrisawren.com/posts/Advanced-Grunt-tooling ###
# Install a grunt plugin and save to devDependencies
function gi() {
  npm install --save-dev grunt-"$@"
}

# Install a grunt-contrib plugin and save to devDependencies
function gci() {
  npm install --save-dev grunt-contrib-"$@"
}
### /http://chrisawren.com/posts/Advanced-Grunt-tooling ###

# function ascifix() {
#   find . -type f | xargs perl -pi -e 's/\“/\"/g';
#   find . -type f | xargs perl -pi -e 's/\”/\"/g';
#   find . -type f | xargs perl -pi -e "s/\’/\'/g";
# }

alias pss="sudo python -m SimpleHTTPServer 80"

alias dup=". ~/.dotfiles/bootstrap.sh"
alias brup="brew update && brew upgrade && brew prune && brew cleanup"
alias nup="npm update -gq"
alias sup="svn up ~/sandbox/svn-repos/*; svn status ~/sandbox/svn-repos/*"
alias gup="gg ~/sandbox/git-repos/*"
alias up="echo -e '\e[01;32m### Pulling git-repos/* ###\e[00m'; gup; echo -e '\e[01;32m### Pulling/Status svn-repos/* ###\e[00m'; sup; echo -e '\e[01;32m### Brew Up ###\e[00m'; brup; echo -e '\e[01;32m### NPM Up ###\e[00m'; nup; echo -e '\e[01;32m### Pulling ~/.dotfiles ###\e[00m'; dup;"
alias gst="gs ~/sandbox/git-repos/*"
alias clean='find . -name "*.pyc" -delete; find . -name ".DS_Store" -delete'
# rec: https://github.com/colorhook/node-smushit
# alias smush='python ~/sandbox/git-repos/smush.py/smush/smush.py -r -s'

alias resetaudio='sudo killall coreaudiod'

alias c="clear"


