# Dir navigation
alias ..='cd ..'
alias ...='cd ../..'
alias ~='cd ~'
alias ll='tree --dirsfirst -ChFupDaLg 1'

# Utilities
alias a="ack -ia"
alias d="du -h -d=1"
alias df="df -h"
alias g="git"
alias grep='GREP_COLOR="1;37;41" LANG=C grep --color=auto'
alias h="history"
alias httpdump="sudo tcpdump -i en1 -n -s 0 -w - | grep -a -o -E \"Host\: .*|GET \/.*\""
alias ip="curl -s http://checkip.dyndns.com/ | sed 's/[^0-9\.]//g'"
alias localip="ipconfig getifaddr en1"
alias mp="mvim -p"
alias view="vim -p -R"
alias vp="vim -p"

# J
export JPY=~/sandbox/git-repos/j2/j.py # tells j.sh where the python script is
. ~/sandbox/git-repos/j2/j.sh          # provides the j() function
alias jl='j -l'
alias jt='j -t recent'
alias jr='j -t rank'


# t
alias t='python ~/sandbox/hg-repos/t/t.py --task-dir ~/Dropbox/NoTambourine/todo --list tom.txt'
alias a='python ~/sandbox/hg-repos/t/t.py --task-dir ~/Dropbox/NoTambourine/todo --list alex.txt'
alias i='python ~/sandbox/hg-repos/t/t.py --task-dir ~/Dropbox/NoTambourine/todo --list ideas.txt'
alias todo='python ~/sandbox/hg-repos/t/t.py --task-dir ~/Dropbox/todo --list todo.txt'
alias poker='python ~/sandbox/hg-repos/t/t.py --task-dir ~/Dropbox/todo --list poker.txt'

# Git Repos
function gg() {
  if [ $# -gt 0 ]; then
    for i in $(echo $*); do
      if [ -d ${i} ]; then
        ( echo '*** Pulling' ${i} && cd ${i} && git pull )
      else
        echo "No such directory: \"${i}\", skipping ..."
      fi
    done
  else
    echo "usage: gg <git repo dir>"
  fi
}

function gs() {
  if [ $# -gt 0 ]; then
    for i in $(echo $*); do
      if [ -d ${i} ]; then
        ( echo '***' ${i} && cd ${i} && git cherry -v origin/master && git status -s )
      else
        echo "No such directory: \"${i}\", skipping ..."
      fi
    done
  else
    echo "usage: gst <git repo dir>"
  fi
}

alias gup="gg ~/sandbox/git-repos/*"
alias gst="gs ~/sandbox/git-repos/*"
alias clean='find . -name "*.pyc" -delete'

alias c="clear"


